.layout__layoutContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
}

.navbar-notif-user-container {
    display: flex;
    flex-direction: row;
}