.searchPageContainer {
    position: relative;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 70%;
    overflow-x: hidden;

    .searchPage-carousel {
        border-radius: 10px;
        background: linear-gradient(-45deg, rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #B7E8EB 100%);
        background-size: 400% 400%;
        animation: hero-text-gradient 15s ease infinite;
    }

    .searchPage-sectionHeading {
        padding-top: 20px;
    }

    .searchPageContent {

        .heroContent {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 5%;

            .section-title {
                padding-left: 10%;
                padding-right: 10%;

                h2 {
                    font-size: 3vw;
                    line-height: 5vw;
                }

                p {
                    font-size: 1.5vw;
                    line-height: 2.5vw;
                }
            }

        }

        .overlay-container {
            position: relative;
        }

        .project-item .searchPage-card {
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            display: flex;
            align-items: center;
            width: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
            margin-top: 10px;

            .searchPage-cardText {
                font-size: small;
                margin-right: 10px;
            }
        }

        .project-item-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            border-radius: 5px;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            transition: .5s ease;
        }

        .project-item-overlay h4 {
            font-size: 18px;
            font-weight: 500;
            white-space: nowrap;
            color: white;
            position: absolute;
            overflow: hidden;
            top: 7%;
            left: 7%;
            margin: 0;
            text-overflow: ellipsis;
        }

        .project-item-overlay p {
            font-size: small;
            font-weight: 600;
            white-space: nowrap;
            color: white;
            position: absolute;
            overflow: hidden;
            bottom: 7%;
            left: 7%;
            text-overflow: ellipsis;
            margin: 0;
        }

        .overlay-container:hover .project-item-overlay {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 1;
            height: 100%;
            width: 100%;
            transition: .5s ease;
        }

        .thumb-sm {
            height: 32px;
            width: 32px;
        }

        .rounded-circle {
            border-radius: 50%;
        }
    }

}

@media only screen and (min-width: 1200px) {
    .searchPageContainer {
        width: 70%;
        .searchPageContent {
            .heroContent {
                .section-title {
                    h2 {
                        font-size: 50px;
                        line-height: 65px;
                    }

                    p {
                        font-size: 20px;
                        line-height: 35px;
                    }
                }

            }
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .searchPageContainer {
        width: 90%;

        .searchPageContent {

            .heroContent {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding-top: 5%;
                padding-bottom: 2%;

                .section-title {
                    padding-left: 8%;
                    padding-right: 8%;
                    text-align: center;

                    h2 {
                        font-size: 5vw;
                        line-height: 6vw;
                    }

                    p {
                        font-size: 2vw;
                        line-height: 3vw;
                    }
                }

            }
        }
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
    .searchPageContainer {
        width: 90%;

        .searchPageContent {

            .heroContent {
                padding-top: 5%;
                padding-bottom: 2%;

                .section-title {
                    padding-left: 2%;
                    padding-right: 2%;
                    text-align: center;

                    h2 {
                        font-size: 5vw;
                        line-height: 6vw;
                    }

                    p {
                        font-size: 2.75vw;
                        line-height: 4.5vw;
                    }
                }

            }
        }
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    .searchPageContainer {
        width: 90%;
        margin-top: 20%;

        .searchPageContent {

            .heroContent {
                padding-top: 5%;
                padding-bottom: 2%;

                .section-title {
                    padding-left: 2%;
                    padding-right: 2%;
                    text-align: center;

                    h2 {
                        font-size: 5vw;
                        line-height: 6vw;
                    }

                    p {
                        font-size: 2.75vw;
                        line-height: 4.5vw;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 399px) {
    .searchPageContainer {
        width: 90%;
        margin-top: 20%;

        .searchPageContent {

            .heroContent {
                padding-top: 5%;
                padding-bottom: 2%;

                .section-title {
                    padding-left: 5%;
                    padding-right: 5%;
                    text-align: center;

                    h2 {
                        font-size: 6vw;
                        line-height: 7vw;
                    }

                    p {
                        font-size: 3.75vw;
                        line-height: 6vw;
                    }
                }
            }
        }
    }
}