$font-size1: 1px;
$font-size2: 2px;
$font-size3: 3px;
$font-size4: 4px;
$font-size5: 5px;
$font-size6: 6px;
$font-size7: 7px;
$font-size8: 8px;
$font-size9: 9px;
$font-size10: 10px;
$font-size11: 11px;
$font-size12: 12px;
$font-size13: 13px;
$font-size14: 14px;
$font-size15: 15px;
$font-size16: 16px;
$font-size17: 17px;
$font-size18: 18px;
$font-size19: 19px;
$font-size20: 20px;
$font-size21: 21px;
$font-size22: 22px;
$font-size23: 23px;
$font-size24: 24px;
$font-size25: 25px;
$font-size26: 26px;
$font-size27: 27px;
$font-size28: 28px;
$font-size29: 29px;
$font-size30: 30px;
$font-size31: 31px;
$font-size32: 32px;
$font-size33: 33px;
$font-size34: 34px;
$font-size35: 35px;
$font-size36: 36px;
$font-size37: 37px;
$font-size38: 38px;
$font-size39: 39px;
$font-size40: 40px;
$font-size41: 41px;
$font-size42: 42px;
$font-size43: 43px;
$font-size44: 44px;
$font-size45: 45px;
$font-size46: 46px;
$font-size47: 47px;
$font-size48: 48px;
$font-size49: 49px;
$font-size50: 50px;
$font-size51: 51px;
$font-size52: 52px;
$font-size53: 53px;
$font-size54: 54px;
$font-size55: 55px;
$font-size56: 56px;
$font-size57: 57px;
$font-size58: 58px;
$font-size59: 59px;
$font-size60: 60px;
$font-size61: 61px;
$font-size62: 62px;
$font-size63: 63px;
$font-size64: 64px;
$font-size65: 65px;
$font-size66: 66px;
$font-size67: 67px;
$font-size68: 68px;
$font-size69: 69px;
$font-size70: 70px;
$font-size71: 71px;
$font-size72: 72px;
$font-size73: 73px;
$font-size74: 74px;
$font-size75: 75px;
$font-size76: 76px;
$font-size77: 77px;
$font-size78: 78px;
$font-size79: 79px;
$font-size80: 80px;
$font-size81: 81px;
$font-size82: 82px;
$font-size83: 83px;
$font-size84: 84px;
$font-size85: 85px;
$font-size86: 86px;
$font-size87: 87px;
$font-size88: 88px;
$font-size89: 89px;
$font-size90: 90px;
$font-size91: 91px;
$font-size92: 92px;
$font-size93: 93px;
$font-size94: 94px;
$font-size95: 95px;
$font-size96: 96px;
$font-size97: 97px;
$font-size98: 98px;
$font-size99: 99px;
$font-size100: 100px;

.f-1 {
  font-size: $font-size1;
}
.f-2 {
  font-size: $font-size2;
}
.f-3 {
  font-size: $font-size3;
}
.f-4 {
  font-size: $font-size4;
}
.f-5 {
  font-size: $font-size5;
}
.f-6 {
  font-size: $font-size6;
}
.f-7 {
  font-size: $font-size7;
}
.f-8 {
  font-size: $font-size8;
}
.f-9 {
  font-size: $font-size9;
}
.f-10 {
  font-size: $font-size10;
}
.f-11 {
  font-size: $font-size11;
}
.f-12 {
  font-size: $font-size12;
}
.f-13 {
  font-size: $font-size13;
}
.f-14 {
  font-size: $font-size14;
}
.f-15 {
  font-size: $font-size15;
}
.f-16 {
  font-size: $font-size16;
}
.f-17 {
  font-size: $font-size17;
}
.f-18 {
  font-size: $font-size18;
}
.f-19 {
  font-size: $font-size19;
}
.f-20 {
  font-size: $font-size20;
}
.f-21 {
  font-size: $font-size21;
}
.f-22 {
  font-size: $font-size22;
}
.f-23 {
  font-size: $font-size23;
}
.f-24 {
  font-size: $font-size24;
}
.f-25 {
  font-size: $font-size25;
}
.f-26 {
  font-size: $font-size26;
}
.f-27 {
  font-size: $font-size27;
}
.f-28 {
  font-size: $font-size28;
}
.f-29 {
  font-size: $font-size29;
}
.f-30 {
  font-size: $font-size30;
}
.f-31 {
  font-size: $font-size31;
}
.f-32 {
  font-size: $font-size32;
}
.f-33 {
  font-size: $font-size33;
}
.f-34 {
  font-size: $font-size34;
}
.f-35 {
  font-size: $font-size35;
}
.f-36 {
  font-size: $font-size36;
}
.f-37 {
  font-size: $font-size37;
}
.f-38 {
  font-size: $font-size38;
}
.f-39 {
  font-size: $font-size39;
}
.f-40 {
  font-size: $font-size40;
}
.f-41 {
  font-size: $font-size41;
}
.f-42 {
  font-size: $font-size42;
}
.f-43 {
  font-size: $font-size43;
}
.f-44 {
  font-size: $font-size44;
}
.f-45 {
  font-size: $font-size45;
}
.f-46 {
  font-size: $font-size46;
}
.f-47 {
  font-size: $font-size47;
}
.f-48 {
  font-size: $font-size48;
}
.f-49 {
  font-size: $font-size49;
}
.f-50 {
  font-size: $font-size50;
}
.f-51 {
  font-size: $font-size51;
}
.f-52 {
  font-size: $font-size52;
}
.f-53 {
  font-size: $font-size53;
}
.f-54 {
  font-size: $font-size54;
}
.f-55 {
  font-size: $font-size55;
}
.f-56 {
  font-size: $font-size56;
}
.f-57 {
  font-size: $font-size57;
}
.f-58 {
  font-size: $font-size58;
}
.f-59 {
  font-size: $font-size59;
}
.f-60 {
  font-size: $font-size60;
}
.f-61 {
  font-size: $font-size61;
}
.f-62 {
  font-size: $font-size62;
}
.f-63 {
  font-size: $font-size63;
}
.f-64 {
  font-size: $font-size64;
}
.f-65 {
  font-size: $font-size65;
}
.f-66 {
  font-size: $font-size66;
}
.f-67 {
  font-size: $font-size67;
}
.f-68 {
  font-size: $font-size68;
}
.f-69 {
  font-size: $font-size69;
}
.f-70 {
  font-size: $font-size70;
}
.f-71 {
  font-size: $font-size71;
}
.f-72 {
  font-size: $font-size72;
}
.f-73 {
  font-size: $font-size73;
}
.f-74 {
  font-size: $font-size74;
}
.f-75 {
  font-size: $font-size75;
}
.f-76 {
  font-size: $font-size76;
}
.f-77 {
  font-size: $font-size77;
}
.f-78 {
  font-size: $font-size78;
}
.f-79 {
  font-size: $font-size79;
}
.f-80 {
  font-size: $font-size80;
}
.f-81 {
  font-size: $font-size81;
}
.f-82 {
  font-size: $font-size82;
}
.f-83 {
  font-size: $font-size83;
}
.f-84 {
  font-size: $font-size84;
}
.f-85 {
  font-size: $font-size85;
}
.f-86 {
  font-size: $font-size86;
}
.f-87 {
  font-size: $font-size87;
}
.f-88 {
  font-size: $font-size88;
}
.f-89 {
  font-size: $font-size89;
}
.f-90 {
  font-size: $font-size90;
}
.f-91 {
  font-size: $font-size91;
}
.f-92 {
  font-size: $font-size92;
}
.f-93 {
  font-size: $font-size93;
}
.f-94 {
  font-size: $font-size94;
}
.f-95 {
  font-size: $font-size95;
}
.f-96 {
  font-size: $font-size96;
}
.f-97 {
  font-size: $font-size97;
}
.f-98 {
  font-size: $font-size98;
}
.f-99 {
  font-size: $font-size99;
}
.f-100 {
  font-size: $font-size100;
}
