.common-wondor-style {
    font-family: 'pacifico', sans-serif !important;
    font-weight: normal;
}
.common-h1-style {
    font-family: 'Varela Round', sans-serif !important;
    color: #394040;
}

.common-h2-style {
    font-family: 'Varela Round', sans-serif !important; 
    color: #394040;
}

.common-h3-style {
    font-family: 'Varela Round', sans-serif !important; 
    color: #394040;
}

.common-h4-style {
    font-family: 'Varela Round', sans-serif !important; 
    color: #394040;
}

.common-h5-style {
    font-family: 'Varela Round', sans-serif !important; 
    color: #394040;
}

.common-p-style {
    font-family: 'Varela Round', sans-serif !important;
    color: #394040;
}

.common-text-style {
    font-family: 'Varela Round', sans-serif !important;
    color: #394040;
}

.common-small-btn {
    height: 30px !important;
    border-radius: 4px !important;
    //background-color: rgb(112, 198, 234) !important;
}

.common-medium-btn {
    height: 35px !important;
    border-radius: 4px !important;
    //background-color: rgb(112, 198, 234) !important;
}

.common-large-btn {
    height: 40px !important;
    border-radius: 4px !important;
    //background-color: rgb(112, 198, 234) !important;
}