.common-wondor-style {
    font-family: 'pacifico', sans-serif !important;
    font-weight: normal;
    color: red;
}
.common-h1-style {
    font-family: 'Varela Round', sans-serif !important;
    color: #394040;
    color: red;
}

.common-h2-style {
    font-family: 'Varela Round', sans-serif !important; 
    color: #394040;
    color: red;
}

.common-h3-style {
    font-family: 'Varela Round', sans-serif !important; 
    color: #394040;
    color: red;
}

.common-h4-style {
    font-family: 'Varela Round', sans-serif !important; 
    color: #394040;
    color: red;
}

.common-h5-style {
    font-family: 'Varela Round', sans-serif !important; 
    color: #394040;
    color: red;
}

.common-p-style {
    font-family: 'Varela Round', sans-serif !important;
    color: #394040;
    color: red;
}

.common-text-style {
    font-family: 'Varela Round', sans-serif !important;
    color: #394040;
    color: red;
}

.common-btn-dimension{
    //width: 150px;
    //height: 40px !important;
    border-radius: 4px !important;
}