@import "bootstrap/dist/css/bootstrap.css";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'antd/dist/antd.css';
@import "~video-react/styles/scss/video-react";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nova+Round|Varela+Round&display=swap');

html {
	font-family: 'Varela Round', sans-serif;
}
body {
	font-family: 'Varela Round', sans-serif;
}

*,
*::after,
*::before {
  /* Remove unncessary styles */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
	color:rgba(0, 0, 0, 0.75);
	font-size: 2.5vmin;
}

.mb4 {
	margin-bottom: 4px;
}

.mt4 {
	margin-bottom: 4px;
}

.mt16 {
	margin-top: 16px;
}

.text-center {
	text-align: center;
}

.mt0 {
	margin-top: 0px;
}

.mb0 {
	margin-bottom: 0px;
}


.layout__layoutContainer {
	display: flex;
    position: relative;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
}
