.collabDetailCard__container {
    min-width: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .ui-block {
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #e6ecf5;
        // margin-bottom: 15px;
    }
    
    .post {
        position: relative;
        padding: 25px 25px 0px 25px;
        border-bottom: 1px solid #e6ecf5;
    }
    
    .post__author {
        margin-bottom: 20px;
    }
    
    .post__author img {
      width: 40px;
      height: 40px;
      border-radius: 100%; 
      overflow: hidden;
      margin-right: 12px;
    }
    
    .inline-items>* {
        display: inline-block;
        vertical-align: middle;
    }
    
    .post .author-date a {
        font-weight: 700;
    }
    
    .post__author .more {
        float: right;
        font-size: 16px;
        margin-right: 20px;
    }
    
    .more a {
        color: #777;
    }
    
    .post-additional-info {
        border-top: 1px solid #e6ecf5;
    }
    
    .post-additional-info>* {
        margin-right: 15px;
    }
    
    .m-link a {
        color: #333;
    }
    
    .m-link a:hover {
        color: #333;
    }
}

.collabDetailCard__acceptButton {
    width: auto;
    border-radius: 12px;
    background-color: greenyellow;
}

.collabDetailCard__rejectButton {
    width: auto;
    border-radius: 12px;
    background-color: orangered;
}

// below is css for mobile
@media only screen and (max-width: 1200px) and (min-width: 1101px) {
    
    
}

@media only screen and (max-width: 1100px) and (min-width: 901px) {

}

@media only screen and (max-width: 900px) and (min-width: 766px) {

}

@media only screen and (max-width: 767px) and (min-width: 601px) {

}

@media only screen and (max-width: 600px) and  (min-width: 400px) {
    .collabDetailCard__container {
        .post-additional-info>* {
            .p {
                display: flex;
                justify-content: center;
            }
        }
    }

}
  
@media only screen and (max-width: 399px) {
}
