.collabRequestTab__container {

}

.collabRequestTab__antFilter .ant-select-selector {
    border-radius: 12px;
}

.collabRequestTab__filter {
    width: 150px;
    border-radius: 12px;
}

.collabRequestTab__filterContainer {
    display: flex;
    gap: 48px;
    margin-bottom: 32px;
}

.collabRequestTab__collabListContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}