.collabRequestTab__container {

}

.collabRequestTab__antFilter .ant-select-selector {
    border-radius: 12px;
}

.collabRequestTab__filter {
    width: 150px;
    border-radius: 12px;
}

.collabRequestTab__filterContainer {
    justify-content: center;
    display: flex;
    gap: 48px;
    margin-bottom: 32px;
    border-radius: 12px;
    padding: 16px;
    border-color: black;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 5%), 0px 4px 4px rgb(0 0 0 / 5%);
}

.collabRequestTab__collabListContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

// below is css for mobile
@media only screen and (max-width: 1200px) and (min-width: 1101px) {
    
    
}

@media only screen and (max-width: 1100px) and (min-width: 901px) {
    
    
}

@media only screen and (max-width: 900px) and (min-width: 766px) {
    
    
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
    
    
}

@media only screen and (max-width: 600px) and  (min-width: 400px) {
    
}
  
@media only screen and (max-width: 399px) {
    
}

.timeline.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    border-top: 3px solid black;
}