.loader__parent {
    display: "flex";
    justify-content: "center";
    align-items: "center";
}

.loader__container {
  padding-top: 300px;
  text-align: center;
  font-size: medium;
}

.loader__spinner {
    margin-bottom: 32px;
}

