.sendCollabRequestModal__modal .ant-modal-content {
    border-radius: 18px;
}

.sendCollabRequestModal__container {
    display: flex;
    gap: 32px;
    border-radius: 12px;
    justify-content: center;
    flex-direction: column;
}

.sendCollabRequestModal__button {
    width: auto;
    border-radius: 12px;
    align-self: center;
}

.sendCollabRequestModal__acceptRejectContainer {
    display: flex;
    gap: 16px;
    margin: 0 auto;
}