.homepage_heroContent {
  padding-top: 120px;
}

.curved-div {
  position: relative;
  background: #CBE6EF;
  text-align: center;
  overflow: hidden;
}

.curved-div svg {
  display: block;
}

.curved-div.upper {
  background: #fff;
  color: "white";
}

.curved-div h1 {
  font-size: 6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 0rem;
}

.curved-div p {
  font-size: 1rem;
  margin: 0 5rem 0rem 5rem;
}

.heropage-background {
  padding-top: 30px;
  padding-bottom: 60px;
}

.gradient-line {
  display: flex;
  justify-content: center;
  height: 2px;
  width: 80%;
  background-color: #D4D4D4;
  margin: 75px auto 5px;
  /* Center horizontally and add margin-bottom */
}


/* Sliding */

/***** Global Slide *****/
.slide-right,
.slide-left {
  width: 100%;
}

/***** Slide Right *****/
.slide-right {
  animation: 3s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}

/***** Slide Left *****/
.slide-left {
  animation: 3s slide-left;
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

/* Intro */
.intro {
  margin-top: 2rem;
  padding: 0 1em;
}

.intro__title {
  margin: 0;
  font-size: 6rem;
  font-weight: normal;
  line-height: 1.3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.intro__subtitle {
  margin: 1.2rem 0;
  font-size: 0.9rem;
}

.hero-content-button {
  display: inline-block;
  padding: 0.7em 1.2em;
  background-color: var(--pink);
  color: var(--white);
  border-radius: 35px;

  height: 50px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 0px 2px 30px 2px;
}

.intro__illustration {
  max-width: 100%;
  margin: 2rem 0;
}


.section__title {
  color: var(--darkPurple);
  font-weight: var(--bold);
  font-size: 1.85rem;
  line-height: 1.1;
}

/* Grow */
.grow {
  padding: 0 1em;
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.grow p {
  font-size: 0.9rem;
}

/* Learning */
.learning {
  padding: 0 1em;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.learning p {
  font-size: 0.9rem;
}

.learning svg {
  width: 100%;
}

/* Feedback */
.feedback {
  padding: 0 1em;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.feedback p {
  font-size: 0.9rem;
}

.feedback svg {
  width: 100%;
}

@media (min-width: 32em) {
  .intro {
    margin: 2rem auto 0;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-gap: 20px;
    grid-template-areas:
      ". img"
      "title img"
      "subtitle img"
      "button img"
      ". img";
  }

  .intro__title {
    grid-area: title;
    margin: 0;
  }

  .intro__subtitle {
    grid-area: subtitle;
    margin: 0;
  }

  .intro .hero-content-button {
    grid-area: button;
    justify-self: start;
    align-self: start;
  }

  .intro__illustration {
    grid-area: img;
    align-self: center;
  }

  .grow {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: minmax(200px, 550px) 40%;
    grid-template-areas:
      ". img"
      "title img"
      "p img"
      ". img";
  }

  .grow__title {
    grid-area: title;
  }

  .grow p {
    grid-area: p;
    margin: 0;
  }

  .grow>svg:first-of-type {
    grid-area: img;
  }

  .feedback {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 50% minmax(200px, 550px);
    grid-template-areas:
      "img ."
      "img title"
      "img p"
      "img .";
  }

  .feedback__title {
    grid-area: title;
    margin-bottom: 0;
  }

  .feedback svg {
    grid-area: img;
  }

  .feedback p {
    grid-area: p;
    margin: 0;
  }

  .learning {
    display: grid;
    grid-template-columns: minmax(200px, 450px) 50%;
    grid-template-areas:
      ". img"
      "title img"
      "p img"
      ". img";
  }

  .learning__title {
    grid-area: title;
  }

  .learning p {
    grid-area: p;
    margin: 0;
  }

  .learning svg {
    grid-area: img;
  }
}

@media only screen and (min-width: 1200px) {
  .homepage_heroContent {
    padding-top: 110px;
  }

  .intro {
    margin-top: 0rem;
    padding: 0 6em;
  }

  .intro__title {
    font-size: 5vw;
    line-height: 1;
    font-weight: normal;
  }
  
  .intro__subtitle {
    font-size: 1.1rem;
  }

  .hero-content-button {
    height: 35px;
    padding: 7px;
    font-size: 13px;
  }

  .grow {
    padding: 0 6em;

    p {
      font-size: 1.1rem;
    }
  }

  .learning {
    padding: 0 6em;

    p {
      font-size: 1.1rem;
    }
  }

  .feedback {
    padding: 0 6em;

    p {
      font-size: 1.1rem;
    }
  }

  .curved-div h1 {
    font-size: 6vw;
    line-height: 1;
  }

  .curved-div p {
    font-size: 1.1rem;
    line-height: 2.5vw;
    margin: 0 3rem 0rem 3rem
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .homepage_heroContent {
    padding-top: 110px;
  }

  .intro {
    margin-top: 0rem;
    padding: 0 4em;
  }

  .intro__title {
    font-size: 6vw;
    line-height: 5vw;
  }
  
  .intro__subtitle {
    font-size: 1.1rem;
  }

  .hero-content-button {
    height: 35px;
    padding: 7px;
    font-size: 13px;
  }

  .grow {
    padding: 0 4em;

    p {
      font-size: 1.1rem;
    }
  }

  .learning {
    padding: 0 4em;

    p {
      font-size: 1.1rem;
    }
  }

  .feedback {
    padding: 0 4em;

    p {
      font-size: 1.1rem;
    }
  }

  .curved-div h1 {
    font-size: 6vw;
    line-height: 5vw;
  }

  .curved-div p {
    font-size: 1.1rem;
    line-height: 3.5vw;
    margin: 0 3rem 0rem 3rem
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .homepage_heroContent {
    padding-top: 100px;
  }

  .intro {
    margin-top: 0rem;
    padding: 0 4em;
  }

  .intro__title {
    font-size: 3.4rem;
    font-weight: normal;
    line-height: 1;
  }
  
  .intro__subtitle {
    font-size: 1.1rem;
  }

  .hero-content-button {
    height: 35px;
    padding: 7px;
    font-size: 13px;
  }

  .grow {
    padding: 0 4em;

    p {
      font-size: 1.1rem;
    }
  }

  .learning {
    padding: 0 4em;

    p {
      font-size: 1.1rem;
    }
  }

  .feedback {
    padding: 0 4em;

    p {
      font-size: 1.1rem;
    }
  }

  .curved-div h1 {
    font-size: 6vw;
    line-height: 5vw;
  }

  .curved-div p {
    font-size: 1.1rem;
    line-height: 3.5vw;
    margin: 0 3rem 0rem 3rem
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  .homepage_heroContent {
    padding-top: 110px;
  }

  .intro {
    margin-top: 0rem;
    padding: 0 2em;
  }

  .intro__title {
    font-size: 2.4rem;
  }
  
  .intro__subtitle {
    font-size: 1rem;
  }

  .grow {
    padding: 0 2em;

    p {
      font-size: 1rem;
    }
  }

  .learning {
    padding: 0 2em;

    p {
      font-size: 1rem;
    }
  }

  .feedback {
    padding: 0 2em;

    p {
      font-size: 1rem;
    }
  }

  .hero-content-button {
    height: 35px;
    padding: 7px;
    font-size: 13px;
  }

  .curved-div h1 {
    font-size: 6vw;
    line-height: 6vw;
  }

  .curved-div p {
    font-size: 1rem;
    line-height: 4.5vw;
    margin: 0 3rem 0rem 3rem
  }
}


@media only screen and (min-width: 400px) and (max-width: 600px) {
  .homepage_heroContent {
    padding-top: 110px;
  }

  .intro {
    margin-top: 0rem;
    padding: 0 2em;
  }

  .intro__title {
    font-size: 2.4rem;
  }
  
  .intro__subtitle {
    font-size: 1rem;
  }

  .grow {
    padding: 0 2em;
  }

  .learning {
    padding: 0 2em;
  }

  .feedback {
    padding: 0 2em;
  }

  .hero-content-button {
    height: 35px;
    padding: 7px;
    font-size: 13px;
  }

  .curved-div h1 {
    font-size: 9vw;
    line-height: 9vw;
  }

  .curved-div p {
    font-size: 3.75vw;
    margin: 0 3rem 0rem 3rem
  }
}

@media only screen and (max-width: 399px) {

  .intro {
    margin-top: 0rem;
    padding: 0 2em;
  }

  .intro__title {
    font-size: 2.4rem;
  }
  
  .intro__subtitle {
    font-size: 1rem;
  }

  .grow {
    padding: 0 2em;
  }

  .learning {
    padding: 0 2em;
  }

  .feedback {
    padding: 0 2em;
  }

  .hero-content-button {
    height: 28px;
    padding: 6px;
    font-size: 10px;
  }

  .curved-div h1 {
    font-size: 9vw;
    line-height: 9vw;
  }

  .curved-div p {
    font-size: 3.75vw;
    margin: 0 3rem 0rem 3rem
  }
}