.login-modal-container{
	height: 100%;
	.login-signup-container{
		display: flex;
		height: 100%;
		.login-image{
			width: 60%;
			height: 100%;
			.profile-image{
				height: 100% !important;
			}
		}
		.login-image > div{
			height: 100%;
		}
		.login-info-container{
			width: 40%;
			position: relative;
    	padding: 30px;
		}
		.login-wrapper{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
		}
		.signup-container{
			padding-top: 20px;
			a{
				color: #fff;
			}
		}
		.policy-container{
			padding: 20px;
		}
	}
}