.login-modal-container{
	height: 100%;
	.login-signup-container{
		display: flex;
		height: 100%;
		.login-image{
			width: 60%;
			height: 100%;
			.profile-image{
				height: 100% !important;
			}
		}
		.login-image > div{
			height: 100%;
		}
		.login-info-container{
			width: 40%;
			position: relative;
    		padding: 30px;
		}
		.login-wrapper{
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
		}
		.signup-container{
			padding: 30px 20px 10px;
			a{
				color: #fff;
			}
			button{
				width: 100%;
			}
		}
		.error-message {
			font-size: 12px;
			color: red;
		}
		.policy-container{
			padding: 20px;
		}
	}
}


// Please write media query for all screen sizes below this line.
@media only screen and (max-width: 1024px) and (min-width: 993px) {
} 
  
@media only screen and (max-width: 992px) and (min-width: 601px) {
}
  
@media only screen and (max-width: 600px) and  (min-width: 400px) {
	.login-modal-container {
		.login-signup-container {
			.login-image {
				display: none;
				.profile-image {
					display: none;
				}
			}
			.login-info-container{
				width: 100%;
				text-align: center;
			}
			.signup-container{
				padding-left: 50px;
				padding-right: 50px;
			}
			.error-message {
				font-size: 12px;
				color: red;
			}
			.policy-container{
				padding-left: 50px;
				padding-right: 50px;
			}
		}
	}
}
  
@media only screen and (max-width: 399px) {
	.login-modal-container {
		.login-signup-container {
			.login-image {
				display: none;
				.profile-image {
					display: none;
				}
			}
			.login-info-container{
				width: 100%;
				text-align: center;
			}
			.error-message {
				font-size: 12px;
				color: red;
			}
		}
	}
}