.circular-list-container {
    overflow: hidden;
    width: 100%;
}

.circular-list {
    display: flex;
    gap: 10px; /* Add gap between list items */
    animation: scroll 200s linear infinite; /* Adjust the duration based on the total time for one item to move across the screen */
}

.circular-list-item {
    min-width: 200px; /* Set minimum width */
    height: 200px;
    display: flex; /* Ensure all list items are flex containers */
}

.circular-list-item article {
    flex-grow: 1; /* Allow the article to grow to fill the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.circular-list-item article h5 {
    font-size: 18px;
    line-height: 26px;
    text-align: left;
}

.circular-list-item article p {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

.circular-list-item article .truncate-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@keyframes scroll {
    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(-210px * 100 / 2)); /* Adjust for the total width of 100 items with a 10px gap */
    }
}
