@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico-Regular.ttf") format("ttf"),
    url("../fonts/Pacifico-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "VarelaRound";
  src: url("../fonts/VarelaRound-Regular.ttf") format("ttf"),
    url("../fonts/VarelaRound-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
