$font-size1:1px;
$font-size2:2px;
$font-size3:3px;
$font-size4:4px;
$font-size5:5px;
$font-size6:6px;
$font-size7:7px;
$font-size8:8px;
$font-size9:9px;
$font-size10:10px;
$font-size11:11px;
$font-size12:12px;
$font-size13:13px;
$font-size14:14px;
$font-size15:15px;
$font-size16:16px;
$font-size17:17px;
$font-size18:18px;
$font-size19:19px;
$font-size20:20px;
$font-size21:21px;
$font-size22:22px;
$font-size23:23px;
$font-size24:24px;
$font-size25:25px;
$font-size26:26px;
$font-size27:27px;
$font-size28:28px;
$font-size29:29px;
$font-size30:30px;
$font-size31:31px;
$font-size32:32px;
$font-size33:33px;
$font-size34:34px;
$font-size35:35px;
$font-size36:36px;
$font-size37:37px;
$font-size38:38px;
$font-size39:39px;
$font-size40:40px;
$font-size41:41px;
$font-size42:42px;
$font-size43:43px;
$font-size44:44px;
$font-size45:45px;
$font-size46:46px;
$font-size47:47px;
$font-size48:48px;
$font-size49:49px;
$font-size50:50px;
$font-size51:51px;
$font-size52:52px;
$font-size53:53px;
$font-size54:54px;
$font-size55:55px;
$font-size56:56px;
$font-size57:57px;
$font-size58:58px;
$font-size59:59px;
$font-size60:60px;
$font-size61:61px;
$font-size62:62px;
$font-size63:63px;
$font-size64:64px;
$font-size65:65px;
$font-size66:66px;
$font-size67:67px;
$font-size68:68px;
$font-size69:69px;
$font-size70:70px;
$font-size71:71px;
$font-size72:72px;
$font-size73:73px;
$font-size74:74px;
$font-size75:75px;
$font-size76:76px;
$font-size77:77px;
$font-size78:78px;
$font-size79:79px;
$font-size80:80px;
$font-size81:81px;
$font-size82:82px;
$font-size83:83px;
$font-size84:84px;
$font-size85:85px;
$font-size86:86px;
$font-size87:87px;
$font-size88:88px;
$font-size89:89px;
$font-size90:90px;
$font-size91:91px;
$font-size92:92px;
$font-size93:93px;
$font-size94:94px;
$font-size95:95px;
$font-size96:96px;
$font-size97:97px;
$font-size98:98px;
$font-size99:99px;
$font-size100:100px;
