@import '../styles/_variable';
@import '../styles/_font-size';

.searchbox {
    width: 100%;
    padding-top:80%;
    background-size: cover;
    padding-bottom: 13%;
}

.padding {
  padding-top: 20rem;
}
.speciality img {
  width: 6%;
  height: auto;
}