@import '../styles/_variable';
@import '../styles/_font-size';


.appLogo {
  font-family: $pacifico-cursive;
  color: $black !important;
  width: 140px;
  height: 20px;
  padding-left: 3px;
}
	
.nav ul li a{
	color: $C000000BF !important;
}