// --------- All contest page css ----------
.allContestPage_listingPagecontainer {
  position: relative;

  .ant-breadcrumb {
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 30px;
    position: relative;
  }

  .allContestPage__listingPageCoverContainer {
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 5%;

    .contest-heading-cnt {
      position: relative;
      padding-top: 2rem;

      .heading-line {
        border: 2px solid;
        width: 70px;
        margin-bottom: 30px;
        margin-top: 30px;
      }

      h1 {
        font-size: 40px;
        text-align: left;
      }

      h3 {
        font-size: 20px;
        color: rgba(18, 17, 17, 0.3);
        text-align: left;
        padding-right: 10%;
        padding-bottom: 2rem;
      }

      .current-contest-btn {
        border-radius: 30px;
        background-color: black;
        color: white;
        border: transparent;
        padding: 12px 20px;
      }
    }

    .current-contest-btn-cnt {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    .how-it-works-cnt {
      display: inline-block;
      font-size: 19px;
      cursor: pointer;

      .how-cnt {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      a {
        color: black;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #f3f2f0;
    background-image: linear-gradient(#fff, #f3f2f0);
  }
}

.listingContainer {
  padding: 20px;
  width: 80%;
  margin: auto;

  .allcontest-list {
    .content-listing__item {
      padding: 15px 0px;
      border-bottom: 1px solid #f3f2f0;
      cursor: pointer;

      &:hover {
        background: linear-gradient(to right, #fff 0, #f6f6f6 35%, #f6f6f6 65%, #fff 100%);
      }
    }

    .listings-list__item {
      display: flex;
      gap: 30px;
    }

    .listing-preview {
      width: 200px;
      height: 200px;
      box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .1);
      background: #fff;

      img {
        width: 200px;
        height: 100%;
      }
    }

    .listing-details {
      flex: 1;
    }

    .contest-details {
      padding-top: 20px;
    }

    .total-designs {
      padding-top: 20px;
      margin-bottom: 10px;
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .contest-timing {
      margin-bottom: 10px;
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .contest-winner {
      margin-bottom: 10px;
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .contest-prize {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .contest-tags-cnt {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      margin-top: 20px;

      .tag-cnt {
        font-size: 14px;
        border: 1px solid;
        border-radius: 3px;
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
    }

    h3 {
      font-size: 16px;
      color: #313030;
      margin-bottom: 20px;
    }

    h5 {
      font-size: 14px;
      color: #5b5a58;
      max-width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      max-height: 3em;
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1101px) {
  .allContestPage_listingPagecontainer {
    // width: 90%;

    .allContestPage__listingPageCoverContainer {
      text-align: left;

      .allContestPage_desktopCoverTextContainer {
        padding: 4rem;

        h1 {
          font-size: x-large;
        }

        h3 {
          font-size: large;
          padding-right: 10%;
          padding-bottom: 2%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) and (min-width: 901px) {
  .allContestPage_listingPagecontainer {
    // width: 90%;

    .allContestPage__listingPageCoverContainer {
      text-align: left;

      .allContestPage_desktopCoverTextContainer {
        padding-top: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;

        h1 {
          font-size: x-large;
        }

        h3 {
          font-size: large;
          padding-right: 10%;
          padding-bottom: 2%;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) and (min-width: 766px) {
  .allContestPage_listingPagecontainer {
    // width: 90%;

    .allContestPage__listingPageCoverContainer {
      text-align: left;

      .allContestPage_desktopCoverTextContainer {
        padding-top: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;

        h1 {
          font-size: large;
        }

        h3 {
          font-size: medium;
          padding-right: 10%;
          padding-bottom: 2%;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .allContestPage_listingPagecontainer {
    // width: 90%;
    margin-top: 10%;

    .allContestPage__listingPageCoverContainer {
      text-align: left;

      .allContestPage_desktopCoverTextContainer {
        padding-top: 2rem;
        padding-left: 5rem;
        padding-right: 5rem;

        h1 {
          font-size: medium;
        }

        h3 {
          font-size: small;
          padding-right: 10%;
          padding-bottom: 2%;
        }
      }

      .current-contest-btn-cnt {
        flex-direction: column;

        .current-contest-btn {
          width: 100%;
        }
      }
    }
  }

  .listingContainer {
    padding: 10px;
    align-items: center;

    .allcontest-list {
      .contest-details {
        padding-top: 0px;
      }

      .listings-list__item {
        // flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
  .allContestPage_listingPagecontainer {
    // width: 90%;
    margin-top: 15%;

    .allContestPage__listingPageCoverContainer {
      text-align: center;

      .allContestPage_desktopCoverTextContainer {
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;

        h1 {
          font-size: large;
          text-align: center;
        }

        h3 {
          font-size: medium;
          text-align: center;
          padding-left: 5%;
          padding-right: 5%;
          padding-bottom: 2%;
        }
      }

      .current-contest-btn-cnt {
        flex-direction: column;

        .current-contest-btn {
          width: 100%;
        }
      }
    }
  }

  .listingContainer {
    padding: 10px;
    align-items: center;

    .allcontest-list {
      .contest-details {
        padding-top: 0px;
      }

      .listing-preview {
        width: 100%;
        height: initial;

        img {
          width: 100%;
        }
      }

      .listings-list__item {
        flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: 399px) {
  .allContestPage_listingPagecontainer {
    // width: 90%;
    margin-top: 15%;

    .allContestPage__listingPageCoverContainer {
      .allContestPage_desktopCoverTextContainer {
        padding: 1rem;

        h1 {
          font-size: small;
          text-align: center;
        }

        h3 {
          font-size: smaller;
          text-align: center;
          padding-left: 10%;
          padding-right: 10%;
          padding-bottom: 2%;
        }
      }

      .current-contest-btn-cnt {
        flex-direction: column;

        .current-contest-btn {
          width: 100%;
        }
      }
    }
  }

  .listingContainer {
    padding: 10px;
    align-items: center;

    .allcontest-list {
      .contest-details {
        padding-top: 0px;
      }

      .listing-preview {
        width: 100%;
        height: initial;

        img {
          width: 100%;
        }
      }

      .listings-list__item {
        flex-direction: column;
      }
    }
  }
}