.actionBanner-cover {
    background-color: #EAEED8;
    border-radius: 10px;
    margin: 20px;
}

.actionBanner-cnt {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.actionBanner-text {
    width: 80%;
}

@media only screen and (min-width: 1200px) {
    /* Styles for extra-large screens (desktops) */
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 601px) and (max-width: 767px) {}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    .actionBanner-cover {
        margin: 10px;
    }
}

@media only screen and (max-width: 399px) {
    .actionBanner-cover {
        margin: 10px;
    }
}