.actionBanner-cover {
    background-color: #EAEED8;
    border-radius: 10px;
    margin: 20px;
}

.actionBanner-cnt {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.actionBanner-text {
    width: 80%;
}