// Category details page 

.categoryDetailPage_container {
  //display: flex;
  //padding: 200px;
  position: relative;
  margin-top: 15%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 80%;
  //box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
  // border: 1px solid rgb(0 0 0 / 10%);
  //background-color: rgb(0 0 0 / 5%);
  overflow-x: hidden;

}

.categoryDetailPage_tabContainer {
  //box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
  border: 1px solid rgb(0 0 0 / 10%);
  transition: 0.3s;
  border-radius: 5px;
  margin: 4px;
  padding: 32px 32px 0px 32px;

  h1 {
    font-size: 33px;
    text-align: left;
  }

  h3 {
    font-size: 20px;
    color: rgba(18, 17, 17, 0.3);
    text-align: left;
    padding-right: 10%;
    //padding-bottom: 2%;
  }
}

.categoryDetailPage_similarCategories {
  transition: 0.3s;
  padding: 32px 5px 5px 5px;

  h1 {
    font-size: 33px;
    text-align: left;
  }

  h3 {
    font-size: 20px;
    color: rgba(18, 17, 17, 0.3);
    text-align: left;
    padding-right: 10%;
    //padding-bottom: 2%;
  }
}

.responsive-two-column-grid {
  display: block;
}

/* columns */
.responsive-two-column-grid>* {
  padding: 1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
  .responsive-two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (max-width: 1200px) and (min-width: 1101px) {


}

@media only screen and (max-width: 1100px) and (min-width: 901px) {


}

@media only screen and (max-width: 900px) and (min-width: 766px) {


}

@media only screen and (max-width: 767px) and (min-width: 601px) {

}

@media only screen and (max-width: 600px) and (min-width: 400px) {
  .categoryDetailPage_container {
    margin-top: 15%;
  }
}

@media only screen and (max-width: 399px) {
  .categoryDetailPage_container {
    margin-top: 20%;
  }
}