// Contest details page 

.contestDetailPage_container {
  //display: flex;
  //padding: 200px;
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 80%;
  //box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
  // border: 1px solid rgb(0 0 0 / 10%);
  //background-color: rgb(0 0 0 / 5%);
  overflow-x: hidden;
  overflow-y: scroll;

}

.contestDetailPage_tabContainer {
  //box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
  // border: 1px solid rgb(0 0 0 / 10%);
  transition: 0.3s;
  border-radius: 5px;
  margin: 4px;
  padding: 20px 32px 0px 32px;
  // margin-top: 32px;

  h1 {
    font-size: 33px;
    text-align: left;
  }

  h3 {
    font-size: 20px;
    color: rgba(18, 17, 17, 0.3);
    text-align: left;
    padding-right: 10%;
    //padding-bottom: 2%;
  }
}


.contestDetailPage_sampleTile {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.caption {
  padding: 0px 5px;
  height: 44px;
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaderboard__grid {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  background: #fff;
  grid-gap: 32px;
  min-height: 0;
  /* NEW */
  min-width: 0;
}

@media only screen and (max-width: 1200px) and (min-width: 1101px) {

  .leaderboard__grid {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 901px) {

  .contestDetailPage_container {
    margin-top: 15%;
  }

  .leaderboard__grid {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 766px) {

  .contestDetailPage_container {
    margin-top: 20%;
  }

  .leaderboard__grid {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {

  .contestDetailPage_container {
    margin-top: 20%;
  }

  .leaderboard__grid {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 400px) {

  .contestDetailPage_container {
    margin-top: 25%;
    width: 90%;
  }

  .leaderboard__grid {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 399px) {

  .contestDetailPage_container {
    margin-top: 25%;
    width: 100%;
  }

  .leaderboard__grid {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
    grid-gap: 20px;
  }
}