.contestDetailPage_container {
    //display: flex;
  //padding: 200px;
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 60%;
  //box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
  // border: 1px solid rgb(0 0 0 / 10%);
  //background-color: rgb(0 0 0 / 5%);
  transition: 0.3s;
  border-radius: 5px;

}

.contestDetailPage_tabContainer {
    //box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
    border: 1px solid rgb(0 0 0 / 10%);
    transition: 0.3s;
    border-radius: 5px;
    margin: 4px;
    padding: 32px 32px 0px 32px;
    margin-top: 32px;
}

// Taken from https://stackoverflow.com/questions/54044769/css-grid-responsive-multiple-3-columns-rows-to-2-columns-rows
.contestDetailPage_submissionTabContainer {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  grid-gap: 10px 10px;
}

.contestDetailPage_sampleTile {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}


@media (min-width: 720px) {
  .contestDetailPage_submissionTabContainer {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1020px) {
  .contestDetailPage_submissionTabContainer {
    grid-template-columns: auto auto auto auto;
  }
}