@import './common/_variable';
@import './common/_font-size';

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.header-text {
  height: 350px;
  width: 100%;
}

.text-content {
  top: 5%;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
  position: absolute;

  h1 {
    font-size: 48px;
    font-weight: 700;
    padding-left: 30%;
    padding-right: 30%;
  }

  h6 {
    padding-left: 35%;
    padding-right: 35%;
  }

  #text-content-tagline {
    display: none;
  }
}

.column {
  flex: 1;
  padding: 10px;
}

.small-card {
  height: 49%;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.small-card-text {
  padding: 20px; 
  width: 60%;
}

.large-card {
  height: 100%;
  padding: 20px; 
  border-radius: 10px; 
  justify-content: space-around;
  align-items: center;
}

.popular-category {
  height: 500px;
  padding: 20px;
  display: flex;
}

.card {
  height: 130px;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  &:hover{
    box-shadow: 0 1px 2px -2px rgba(0,0,0,.16), 0 3px 6px 0 rgba(0,0,0,.12), 0 5px 12px 4px rgba(0,0,0,.09);
    animation: pulse-animation 1s;
  }
}

.inspire-box {
  margin: 5%;
  // background-color: #F5E6B9;
  background-color: #F7E0DF;
  border-radius: 10px
}

.inspire-cnt{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inspire-btn{
  width: 50%;
  margin: 0 auto;
  button{
    width: 100%;
    height: 45px;
    font-size: 18px;
    border-radius: 10px;
    &:hover{
      animation: pulse-animation 1s;
    }
  }
}

.contest-scratchpad {
  padding: 5%;
  // padding-left: 5%;
  // padding-right: 5%;
  display: flex;
  justify-content: center; /* Center the columns horizontally */
  gap: 20px; /* Adjust the space between columns */
}

.contest-scratchpad-box {
  border-radius: 10px;
  flex: 1;
  margin-right: 20px;
}

.contest-scratchpad-box:first-child {
  margin-left: 20px; /* Adjust the space on the left of the first column */
}

.contest-scratchpad-box:last-child {
  margin-right: 20px; /* Adjust the space on the right of the last column */
}

// .contest-scratchpad-box:last-child {
//   margin-right: 0; /* Remove margin from the last column */
// }

.inspire-text {
  width: 80%;
}

.popular-text{
  margin-bottom: 0;
}

.card-rw {
	padding-top: 50vh;
}

.custom-padding {
  padding-left: 2vw;
	padding-right: 2vw;
}

.custom-footer {
  padding-top: 2rem;
}

@media only screen and (max-width: 1600px) and (min-width: 1201px) {
  #text-content {
    top: 20%;
    width: 34%;
    #text-content-tagline {
      display: none;
    }
  }
}

// Please write media query for all screen sizes below this line.
@media only screen and (max-width: 1200px) and (min-width: 993px) {
  #text-content {
    position: absolute;
    margin-left: 40px;
    top: 18%;
    width:40%;
    word-wrap: break-word;
  
    h1 {
      font-size: 30px;
      line-height: 32px;
    }
    p {
      margin: 10px 0;
      font-size: 12px;
    }
    #text-content-tagline {
      display: none;
    }
  }
} 

@media only screen and (max-width: 992px) and (min-width: 768px) {

  #text-content {
    position: absolute;
    margin-left: 40px;
    top: 14%;
    width:40%;
    word-wrap: break-word;
  
    h1 {
      font-size: 25px;
      line-height: 25px;
    }
    p {
      margin: 10px 0;
      font-size: 12px;
    }
    #text-content-tagline {
      display: none;
    }
  }
} 

@media only screen and (max-width: 767px){
  #landing-mobile-img{
    display: block;
  }
  #landing-desktop-img{
    display: none;
  }

  #text-content {
    top: 10%;
    width:100%;
    word-wrap: break-word;
    text-align: center;
    margin-left: 0px;
    padding: 0px 40px;
    h1 {
      font-size: 18px;
      margin-top: -10%; 
    }
    p {
      margin: 8px 0;
      font-size: 12px;
    }
    #text-content-tagline {
      display: none;
    }
  }

  .card-rw {
    h2 {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 550px){
  #landing-mobile-img{
    display: block;
  }
  #landing-desktop-img{
    display: none;
  }

  #text-content {
    top: 10%;
    width:100%;
    word-wrap: break-word;
    text-align: center;
    margin-left: 0px;
    padding: 0px 40px;
    h1 {
      font-size: 18px;
      margin-top: -10%; 
    }
    p {
      display: none;
    }
    #text-content-tagline {
      display: block;
    }
  }

  .card-rw {
    h2 {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 399px) {
  #text-content {
    top: 8%;
    h1 {
      font-size: 16px;
      margin-top: -10%;
    }
    p {
      display: none;
    }
    #text-content-tagline {
      display: block;
      font-size: 12px;
    }
  }
  .card-rw {
    h2 {
      font-size: 16px;
    }
  }
}
