// https://bbbootstrap.com/snippets/bootstrap-simple-footer-template-68853430

.footer-body {
    //background-color: #f3f6fd;
    background-color: #ffff;
}

.footer-card {
    padding-top: 5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        a {
            color: #aaa;
            text-decoration: none !important;
        }

        a:hover {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

ul>li {
    padding: 2px;
}


.divider {
    border-top: 2px solid
}