// https://bbbootstrap.com/snippets/bootstrap-simple-footer-template-68853430

.footer-body {
  //background-color: #f3f6fd;
  background-color: #ffff;
}

.footer-cnt {
  // margin-top: 3rem !important;
}

.footer-card {
  padding-top: 2%;
  margin: 0 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    a {
      color: #aaa;
      text-decoration: none !important;
    }

    a:hover {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

ul>li {
  padding: 2px;
}

.divider {
  border-top: 2px solid;
}

@media only screen and (max-width: 767px) {
  .footer-cnt {
    margin-top: 1rem !important;
  }

  .footer-card {
    margin: 0 10px;
  }

  .footer-body {
    padding-bottom: 220px;
  }
}


.navbarcontainer {
  max-width: 80rem;
  width: 100%;
  height: auto;
  padding: 0 2rem;
  margin: 0 auto;
}

.header .bottom-nav {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.8rem 0;
  background-color: #252a32;
  z-index: 99;
  will-change: transform;
  transform: translateZ(0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.header .bottom-nav-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
  color: #f1f5f8;
}

.header .bottom-nav-link {
  display: flex;
  flex-direction: column;
}

.header .bottom-nav .active {
  color: #d32f2f;
}