.getInspired-parentContainer {
    position: relative;
    margin: auto;
    flex-direction: column;
    width: 70%;
    margin-top: 10%;
}

.getInspired-sectionContainer {
    width: 50%;
    float: left;
    .getInspired-happyImage {
        display: block;
    }
}

.getInspired-textContainer {
    h3 {
        text-align: left;
    }
    .theme {
        padding-top: 10px;
    }
}

.getInspired-buttonContainer {
    padding-top: 20px;
    display: flex;  
    // justify-content: center;  
    // align-items: center; 
}

/* mobile css starts from here  */
@media only screen and (max-width: 1600px) and (min-width: 1201px) {
    .getInspired-parentContainer {
        width: 90%;
        margin-top: 10rem;
    }

    .getInspired-textContainer {
        h3 {
            text-align: left;
        }
    }
}

@media only screen and (max-width: 1200px) and (min-width: 993px) {
    .getInspired-parentContainer {
        width: 90%;
        margin-top: 9rem;
    }

    .getInspired-textContainer {
        h3 {
            text-align: left;
        }
    }
} 

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .getInspired-parentContainer {
        width: 80%;
        margin-top: 8rem;
    }
    
    .getInspired-textContainer {
        h3 {
            text-align: center;
        }
    }

    .getInspired-sectionContainer {
        width: 100%;
        text-align: center;
    }

    .getInspired-buttonContainer { 
        justify-content: center;  
        align-items: center; 
    }
} 

@media only screen and (max-width: 767px) and (min-width: 601px) {
    .getInspired-parentContainer {
        width: 80%;
        margin-top: 7rem;
    }
    
    .getInspired-textContainer {
        h3 {
            text-align: center;
        }
    }

    .getInspired-sectionContainer {
        width: 100%;
        text-align: center;
    }

    .getInspired-buttonContainer { 
        justify-content: center;  
        align-items: center; 
    }
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
    .getInspired-parentContainer {
        width: 90%;
        margin-top: 7rem;
    }

    .getInspired-textContainer {
        h3 {
            text-align: center;
        }
    }

    .getInspired-sectionContainer {
        width: 100%;
        text-align: center;
    }

    .getInspired-buttonContainer { 
        justify-content: center;  
        align-items: center; 
    }
}

@media only screen and (max-width: 399px) {
    .getInspired-parentContainer {
        width: 90%;
        margin-top: 5rem;
    }
    
    .getInspired-textContainer {
        h3 {
            text-align: center;
        }
    }
    
    .getInspired-sectionContainer {
        width: 100%;
        text-align: center;
    }

    .getInspired-buttonContainer { 
        justify-content: center;  
        align-items: center; 
    }
}
