.getInspired-sectionContainer {
    padding-top: 10px;
    width: 100%;
    float: left;

    .inspo-grid {
        padding: 10px;
        columns: 250px;
        column-gap: 20px;

        article {
            padding: 20px;
            border-radius: 5px;
            background: #fff;
            break-inside: avoid-column;
            margin-bottom: 1rem;
            transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;

            &:hover {
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
                margin-top: -5px;
                transform: translateY(-5px) scale(1.005) translateZ(0);
            }
        }
    }
}

/* mobile css starts from here  */
@media only screen and (max-width: 1600px) and (min-width: 1201px) {
    
}

@media only screen and (max-width: 1200px) and (min-width: 993px) {
    
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
    .getInspired-sectionContainer {
        .inspo-grid {
            columns: 2; 
        }
    }
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
    .getInspired-sectionContainer {
        .inspo-grid {
            columns: 2; 
        }
    }
}

@media only screen and (max-width: 399px) {
}