@import "./common/globalStyles.scss";
@import "discover.scss";
@import "dynamic.artist.scss";
@import "navbar.scss";
@import "profileModal.scss";
@import "searchBar.scss";
@import "./components/loginModal.scss";
@import "./editProfile.scss";
@import "./components/uploadModal.scss";
@import "./components/samplePage.scss";
@import "./components/sampleTile.scss";
@import "./components/confirmationModal.scss";
@import "listingArtists.scss";
@import "./footer.scss";
@import "./scratchpad.scss";
@import "./socialProspectus.scss";
@import "./components/loader.scss";
@import "./components/sendCollabRequestModal.scss";
@import "./components/collabDetailCard.scss";
@import "./components/collabRequestTab.scss";
@import "./common/commonStyles.scss";
@import "./collabConversation.scss";
@import "./analytics.scss";
@import "./getInspired.scss";
@import "./contest.scss";
@import "./components/collabCalender.scss";
@import "./categories.scss";
@import "./rewards.scss";
@import "./requestPage.scss";

@import "./allCategories.scss";
@import "./portal.scss";
@import "./proposal.scss";
@import "./manageProposal.scss";
@import "./actionBanner.scss";
@import "./pageBanner.scss";
@import "./blogPost.scss";
@import "./genericSlider.scss";
@import "./genericPageLayout.scss";

@import "./pages/contest/allContest.scss";
@import "./pages/contest/contestDetails.scss";

@import "./pages/wondor/tutorial.scss";
@import "./pages/wondor/aboutUs.scss";
@import "./pages/wondor/termsPrivacyPolicy.scss";
@import "./pages/wondor/faq.scss";
@import "./pages/wondor/contactUs.scss";
@import "./pages/wondor/allBlogs.scss";

@import "./collabPage.scss";

@import "./pages/proposals/proposalHome.scss";

@import "./myWondorPage.scss";


// Assets
@import "./assets/countdownTimer.scss";
@import "./assets/genericClipboard.scss";






html, body {
  max-width: 100%;
  min-height: 100%;
  // overflow-x: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.f-w-b {font-weight: bold};

.page-content {
  margin-top: -10px;
  min-height: calc(100vh - 70px);
}