.navbar-links {
  position: relative;
  top: 2px;

  ul {
    list-style: none;
    margin-bottom: 0;
  }

  li {
    font-size: medium;
    display: inline-block;
    margin-right: 20px;
    /* add spacing between items */

    a {
      color: black;
      text-decoration: none !important;
    }

    a:hover {
      // color:#1890ff;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .nav-text {
    margin-bottom: 0;
    height: 25px;

    &:hover {
      border-bottom: 2px solid black;
    }
  }
}

.animate__animated.animate__slideInRight {
  --animate-duration: 0.7s;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 0.7s;
}

#p-h {
  right: 0px;
  z-index: 3;
}

.nv-f-t {
  position: absolute;
  // display: flex;
  background-color: transparent;
  z-index: 1;
  padding: 1.8rem;
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  /* transition: all .15s ease-in-out; */

  & .navbar-search {
    display: flex;
    // width: 80%;
    justify-content: center;
    // position: relative;
  }

  & #app-logo-desktop {
    height: 40px;
    width: 100px;
    // margin-left: 20px;

    img {
      cursor: pointer;
    }
  }

  & #sign-up-desktop {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    color: white;
  }

  & #app-logo-mobile {
    display: none;
  }

  & #sign-up-mobile {
    display: none;
  }

  & .navbar-menu {
    width: 10%;

    & button {
      background: transparent;
      border: 0;
    }
  }
}

.login-menu-container {
  position: relative;

  .login-options-container {
    position: absolute;
    background: #fff;
    border-radius: 4px;
    top: 60px;
    right: 0px;
    width: 150px;
    box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px;
  }

  .common-login-option .selected-option-shadow {
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      background: #e6f7ff;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.menu-icon {
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px;
  cursor: pointer;

  img {
    max-width: 100%;
    border-radius: 50px;
  }

  .default-profile {
    height: 100%;
    text-align: center;
    padding: 10px 0px;
    background: white;
    border-radius: 50%;

    .user-icon {
      font-size: 20px;
    }
  }
}

.dummy-div {
  width: 100%;
  position: absolute;
  height: 30px;
}

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-effect {
  position: fixed;
  background: white;
  box-shadow: 0 5px 6px -6px #777;
  padding: 1rem 2rem 1rem 1rem;
}

.login-mobile-userdetails {
  display: none;
}

.login-signup-cnt {
  justify-content: right;
  display: flex;
  gap: 10px;
}

.login-btn {
  background-color: #40576d12 !important;
  color: #000 !important;
  border-color: transparent !important;
  padding-top: 8px !important;

  &:hover {
    background-color: #394c6026 !important;
  }
}

// Please write media query for all screen sizes below this line.
@media only screen and (max-width: 1024px) and (min-width: 993px) {
  .navbar-links {
    li {
      font-size: medium;
      margin-right: 15px;
      /* add spacing between items */
    }
  }

  .nv-f-t {

    & #app-logo-desktop {
      // width: 12%;
    }

    & #sign-up-desktop {
      width: 78px;
      height: 34px;
      border-radius: 15px;
      font-size: 13px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .navbar-links {
    li {
      font-size: medium;
      margin-right: 15px;
      /* add spacing between items */
    }
  }

  .nv-f-t {
    .navbar-search {
      display: flex;
      // width: 90%;
      justify-content: center;
    }

    & #app-logo-desktop {
      // width: 15%;
      margin-left: 11px;
    }

    & #sign-up-desktop {
      width: 78px;
      height: 34px;
      border-radius: 15px;
      font-size: 13px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .navbar-links {
    li {
      font-size: 14px;
      margin-right: 10px;
      /* add spacing between items */
    }
  }

  .nv-f-t {
    .navbar-search {
      display: flex;
      // width: 90%;
      justify-content: center;
    }

    & #app-logo-desktop {
      width: 70px;
      margin-top: 3px;
      margin-left: 11px;
    }

    & #sign-up-desktop {
      width: 70px;
      height: 30px;
      border-radius: 15px;
      font-size: 12px;
      text-align: center;
    }
  }

  .menu-icon {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 500px) {
  .navbar-links {
    li {
      font-size: 12px;
      margin-right: 10px;
      /* add spacing between items */
    }
  }

  .nv-f-t {
    padding: 0.5rem 1rem;
    grid-template-columns: 0.3fr 2fr 0.3fr;

    .navbar-search {
      display: flex;
      // width: 90%;
      justify-content: center;
    }

    & #app-logo-mobile {
      display: block;
      width: 40px;
      position: relative;
      top: 2px;
    }

    & #app-logo-desktop {
      display: none;
    }

    & #sign-up-mobile {
      display: block;
      margin-left: 10px;
      font-size: 15px;
    }

    & #sign-up-desktop {
      display: none;
    }
  }

  .menu-icon {
    width: 40px;
    height: 40px;
  }

  .login-signup-cnt {
    justify-content: right;
  }
}

@media only screen and (max-width: 499px) {
  .nv-f-t {
    padding: 0.5rem 1rem;
    grid-template-columns: 0.3fr 2fr;

    .navbar-search {
      display: flex;
      justify-content: center;
    }

    & #app-logo-mobile {
      display: block;
      width: 40px;
      position: relative;
      top: 2px;
    }

    & #sign-up-desktop {
      display: none;
    }

    & #app-logo-desktop {
      display: none;
    }
  }
}