@import '../styles/common/_variable';
@import '../styles/common/_font-size';

.nv-f-t {
  position: absolute;
  display: flex;
  background-color: transparent;
  z-index: 1;

  & > [class*='col-']{
    padding-top: 1.75rem;
    display: flex;
  }
  & .c-p{
    text-align: center;
    padding: .6em;
  }
  & .c-p > a {
    color: $black;
    font-size: $font-size15;
  }
  & .nav-bar-items {
    display: flex;
    padding: 1.5rem;
    width: 100%;
    justify-content: center;
  }

	.appLogo {
    font-family: $pacifico-cursive;
    color: $black !important;
    padding-left: 2.6vw;
    font-size: 35px;
	}
}

.dummy-div {
  width: 100%;
  position: absolute;
  height: 30px;
}

.scroll-effect{
  position: fixed;
  background: white;
  box-shadow: 0 5px 6px -6px #777;
}