@import '../styles/common/_variable';
@import '../styles/common/_font-size';

.nv-f-t {
  position: absolute;
  display: flex;
  background-color: transparent;
  z-index: 1;
  padding: 1.8rem;
  align-items: center;
  width: 100%;
  /* transition: all .15s ease-in-out; */

  & .navbar-search {
    display: flex;
    width: 80%;
    justify-content: center;
    position: relative;
  }

	& #app-logo-desktop {
    width: 8%;
    margin-left:20px;
    img{
      cursor: pointer;
    }
	}

  & #sign-up-desktop {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
  }

  & #app-logo-mobile {
    display: none;
	}

  & #sign-up-mobile {
    display: none; 
  }

  & .navbar-menu {
    width: 10%;
    
    & button {
      background: transparent;
      border: 0;
    }
  }
}

.login-menu-container{
  position: relative;
  .login-options-container{
    position: absolute;
    background: #fff;
    border-radius: 4px;
    right: 0px;
    width: 120px;
    box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 32%) 0px 2px 16px 0px;
  }
  .common-login-option{
    padding: 5px 10px;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
    &:hover{
      background-color: #e6f7ff;
    }
    &:last-child{
      border-bottom: none;
    }
  }
}

.menu-icon{
  font-size: 25px;
}

.dummy-div {
  width: 100%;
  position: absolute;
  height: 30px;
}

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-effect{
  position: fixed;
  background: white;
  box-shadow: 0 5px 6px -6px #777;
  padding: 1rem;
}

// Please write media query for all screen sizes below this line.
@media only screen and (max-width: 1024px) and (min-width: 993px) {
  .nv-f-t {

    & #app-logo-desktop{
      width: 12%;
    }

    & #sign-up-desktop {
      width: 78px;
      height: 34px;
      border-radius: 15px;
      font-size: 14px;
      text-align: center;
    }
  }
} 

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .nv-f-t {
    .navbar-search {
      display: flex;
      width: 90%;
      justify-content: center;
    }

    & #app-logo-desktop {
      width: 15%;
      margin-left: 0px;
    }

    & #sign-up-desktop {
      width: 78px;
      height: 34px;
      border-radius: 15px;
      font-size: 14px;
      text-align: center;
    }
  }
} 

@media only screen and (max-width: 767px) and (min-width: 601px) {
  .nv-f-t {
    .navbar-search {
      display: flex;
      width: 90%;
      justify-content: center;
    }

    & #app-logo-desktop{
      width: 15%;
      margin-left: 0px;
    }

    & #sign-up-desktop {
      width: 80px;
      height: 30px;
      border-radius: 15px;
      font-size: 14px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 600px) and  (min-width: 400px) {
  .nv-f-t {
    padding: 1rem;

    .navbar-search {
      display: flex;
      width: 90%;
      justify-content: center;
    }

    & #app-logo-mobile {
        display: block;
        width: 40px;
    }
    & #app-logo-desktop {
        display: none;
    }

    & #sign-up-mobile {
      display: block; 
      margin-left:10px;
      font-size: 15px;
    }

    & #sign-up-desktop {
      display: none;
    }
  }
}

@media only screen and (max-width: 399px) {
  .nv-f-t {
    padding: 1rem;

    .navbar-search {
      display: flex;
      width: 90%;
      justify-content: center;
    }

    & #app-logo-mobile{
        display: block;
        width: 40px;
    }

    & #sign-up-mobile {
      display: block; 
      font-size: 11px;
    }

    & #sign-up-desktop {
      display: none;
    }

    & #app-logo-desktop{
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .login-menu-container{
    position: static;
    margin-top: -6px;
    .login-options-container{
      top: 0px;
      bottom: 0px;
      position: fixed;
      border-radius: 0px;
    }
    .hide-icon{
      display: none;
    }
  }
  .sidebar-mask{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .menu-icon{
    font-size: 15px;
  }
}
