// #web-protal-menu {
//     display: block;
// }

// #mobile-portal-menu {
//     display: none;
// }

.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);

    .tab {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
}

// @media only screen and (max-width: 499px) {
//     #mobile-portal-menu {
//       display: block;
//     }
  
//     #web-portal-menu {
//       display: none;
//     }
//   }