#web-protal-menu {
    display: block; 
}

#mobile-portal-menu {
    display: none;
}

.web-portal-fixed-menu {
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    z-index: 100;
}

.scrollmenu {
    background-color: #021529;
    overflow: auto;
    white-space: nowrap;

    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    z-index: 100;

    color:grey;

    div:focus {
        background-color: #2A8FF7;
        color:white;
    }

    .tab {
        display: inline-block;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
}

.scrollmenu .a.active {
    color: black;
}

.portal-layout {
    padding-top: 60px;
}

@media only screen and (max-width: 499px) {
    #mobile-portal-menu {
        display: block;
    }

    #web-portal-menu {
        display: none;
    }
}