.rewardsPage_container {
	position: relative;
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;

	.points-earn-container {
		background-color: #e6f7ff;
		border: 1px solid #91d5ff;
		border-radius: 8px;
		padding: 15px;
		margin-bottom: 10px;

		.points-part-heading {
			font-size: 16px;
			color: rgba(0, 0, 0, 0.85);
		}

		.clipboard-text-cnt {
			display: inline-block;
			border-radius: 8px;
			padding: 5px 10px;
			border: 1px dotted;
		}

		.copy-btn {
			display: inline-block;
			background-color: black;
			color: white;
			margin-left: 10px;
			cursor: pointer;
			border-radius: 8px;
			padding: 2px 10px;
		}

		.clipboard-text {
			// color: white;
			font-weight: 700;
		}
	}
}

.display-linebreak {
	white-space: pre-line;
}

.bg-light-primary {
	background-color: #ffff !important;
}

.pb-6, .py-6 {
	padding-bottom: 3.75rem !important;
}

.pt-6, .py-6 {
	padding-top: 3.75rem !important;
}

.card {
	height: 180px;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .4rem;
}

.card-body {
	flex: 1 1 auto;
	min-height: 1px;
	padding: 1.25rem;
}

@media only screen and (max-width: 1200px) and (min-width: 1101px) {
	.card {
		height: 200px;
	}
}

@media only screen and (max-width: 1100px) and (min-width: 901px) {
	.card {
		height: 200px;
	}
}

@media only screen and (max-width: 900px) and (min-width: 766px) {
	.card {
		height: 200px;
	}
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
	.card {
		height: 200px;
	}
}

@media only screen and (max-width: 600px) and  (min-width: 400px) {
	.card {
		height: 225px;
	}

}
  
@media only screen and (max-width: 399px) {
	.card {
		height: 250px;
	}
}
