.rewardsInfoPage_listingPagecontainer {
	//display: flex;
	//padding: 200px;
	position: relative;
	margin-top: 10%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	width: 70%;
	//box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
	// border: 1px solid rgb(0 0 0 / 10%);
	//background-color: rgb(0 0 0 / 5%);
	overflow-x: hidden;

	.rewardsInfoPage__listingPageCoverContainer {
		width: 100%;
		height: 100%;
		border: 1px solid rgb(0 0 0 / 10%);
		// margin-top: 50px;

		.rewardsInfoPage_desktopCoverTextContainer {
			padding-top: 2rem;
			padding-left: 5rem;
			padding-right: 5rem;

			h1 {
				font-size: 33px;
				text-align: left;
			}

			h3 {
				font-size: 20px;
				color: rgba(18, 17, 17, 0.3);
				text-align: left;
				padding-right: 10%;
				//padding-bottom: 2%;
			}
		}
	}
}


.rewardsInfo_container {
	position: relative;
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	overflow-x: hidden;

	.points-earn-container {
		background-color: #e6f7ff;
		border: 1px solid #91d5ff;
		border-radius: 8px;
		padding: 15px;
		margin-bottom: 10px;

		.points-part-heading {
			font-size: 16px;
			color: rgba(0, 0, 0, 0.85);
		}

		.clipboard-text-cnt {
			display: inline-block;
			border-radius: 8px;
			padding: 5px 10px;
			border: 1px dotted;
		}

		.copy-btn {
			display: inline-block;
			background-color: black;
			color: white;
			margin-left: 10px;
			cursor: pointer;
			border-radius: 8px;
			padding: 2px 10px;
		}

		.clipboard-text {
			// color: white;
			font-weight: 700;
		}
	}
}

.display-linebreak {
	white-space: pre-line;
}

.bg-light-primary {
	background-color: #ffff !important;
}

.pb-6,
.py-6 {
	padding-bottom: 3.75rem !important;
}

.pt-6,
.py-6 {
	padding-top: 3.75rem !important;
}

.card {
	height: 180px;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .4rem;
}

.card-body {
	flex: 1 1 auto;
	min-height: 1px;
	padding: 1.25rem;
}

@media only screen and (max-width: 1200px) and (min-width: 1101px) {
	.rewardsInfoPage_listingPagecontainer {
		width: 90%;

		.rewardsInfoPage__listingPageCoverContainer {
			text-align: left;

			.rewardsInfoPage_desktopCoverTextContainer {
				padding: 4rem;

				h1 {
					font-size: x-large;
				}

				h3 {
					font-size: large;
					padding-right: 10%;
					padding-bottom: 2%;
				}
			}
		}
	}

	.card {
		height: 200px;
	}
}

@media only screen and (max-width: 1100px) and (min-width: 901px) {
	.rewardsInfoPage_listingPagecontainer {
		width: 90%;

		.rewardsInfoPage__listingPageCoverContainer {
			text-align: left;

			.rewardsInfoPage_desktopCoverTextContainer {
				padding-top: 2rem;
				padding-left: 5rem;
				padding-right: 5rem;

				h1 {
					font-size: x-large;
				}

				h3 {
					font-size: large;
					padding-right: 10%;
					padding-bottom: 2%;
				}
			}
		}
	}

	.card {
		height: 200px;
	}
}

@media only screen and (max-width: 900px) and (min-width: 766px) {
	.rewardsInfoPage_listingPagecontainer {
		width: 90%;

		.rewardsInfoPage__listingPageCoverContainer {
			text-align: left;

			.rewardsInfoPage_desktopCoverTextContainer {
				padding-top: 2rem;
				padding-left: 5rem;
				padding-right: 5rem;

				h1 {
					font-size: large;
				}

				h3 {
					font-size: medium;
					padding-right: 10%;
					padding-bottom: 2%;
				}
			}
		}
	}

	.card {
		height: 200px;
	}
}

@media only screen and (max-width: 767px) and (min-width: 601px) {
	.rewardsInfoPage_listingPagecontainer {
		width: 90%;
		margin-top: 20%;

		.rewardsInfoPage__listingPageCoverContainer {
			text-align: left;

			.rewardsInfoPage_desktopCoverTextContainer {
				padding-top: 2rem;
				padding-left: 5rem;
				padding-right: 5rem;

				h1 {
					font-size: medium;
				}

				h3 {
					font-size: small;
					padding-right: 10%;
					padding-bottom: 2%;
				}
			}
		}
	}

	.card {
		height: 200px;
	}
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
	.rewardsInfoPage_listingPagecontainer {
		width: 90%;
		margin-top: 20%;

		.rewardsInfoPage__listingPageCoverContainer {
			text-align: center;

			.rewardsInfoPage_desktopCoverTextContainer {
				padding-top: 2rem;
				padding-left: 3rem;
				padding-right: 3rem;

				h1 {
					font-size: large;
					text-align: center;
				}

				h3 {
					font-size: medium;
					text-align: center;
					padding-left: 5%;
					padding-right: 5%;
					padding-bottom: 2%;
				}
			}
		}
	}

	.card {
		height: 225px;
	}

}

@media only screen and (max-width: 399px) {
	.rewardsInfoPage_listingPagecontainer {
		width: 90%;
		margin-top: 20%;

		.rewardsInfoPage__listingPageCoverContainer {

			.rewardsInfoPage_desktopCoverTextContainer {
				padding: 1rem;

				h1 {
					font-size: small;
					text-align: center;
				}

				h3 {
					font-size: smaller;
					text-align: center;
					padding-left: 10%;
					padding-right: 10%;
					padding-bottom: 2%;
				}
			}
		}
	}

	.card {
		height: 250px;
	}
}