.scratchpad_editorContainer {
    padding-top: 10px;
    width: 100%;
    padding-bottom: 10px;
    border: dotted grey;
}

.scratchpad__buttonContainer {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    gap: 12px;
}