.search-bar{
    border: 1px solid #DDDDDD;
    display: flex;
    border-radius: 15px;
    height: 55px;
    width: 500px;
    padding: 3px;
    background: white;
    overflow: hidden;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%);

    &:hover {
        box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
        transition: box-shadow 0.2s ease;
    }

    &__input {
        flex-grow: 1;
        font-size: 1.2rem;
        padding: 0 0.5em;
        border: 0;
        width: 100%;
    }

    &__submit {
        border: 0;
        height: 47px;
        width: 55px;
        background: white;
    }

}