.search-bar{
    border: 1px solid #DDDDDD;
    display: flex;
    height: 55px;
    width: 50%;
    padding: 3px;
    background: white;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%);

    &:hover {
        box-shadow: 0px 2px 4px rgb(0 0 0 / 18%);
        transition: box-shadow 0.2s ease;
    }

    &__input {
        flex-grow: 1;
        font-size: 1.2rem;
        border: 0;
        width: 80%;
    }

    &__submit {
        border: 0;
        height: 47px;
        width: 10%;
        background: white;

        &__search-icon {
            font-size: 20px;
        }
    }

    &__cross {
        border: 0;
        height: 50px;
        width: 10%;
        background: white;

        &__cross-icon {
            font-size: 20px;
            padding-bottom: 5px;
        }
    }

}

.typeahead-container {
    border: solid 1px rgb(208, 206, 206);
    position: absolute;
    top: 55px;
    width: 50%;
}

.typeahead-item {
    background-color: white;
    padding: 10px;
    position: relative;
    cursor: pointer;

    &:hover {
        background: #e6f7ff;
    }

    &__category {
        position: absolute;
        right: 0;
        padding-right: 10px
    }
}

// Please write media query for all screen sizes below this line.

@media only screen and (max-width: 1024px) and (min-width: 993px) {
    .search-bar{
        height: 35px;
        width: 90%;

        &__input {
            font-size: 1rem;
            padding-bottom: 8px;
        }

        &__submit {
            &__search-icon {
                font-size: 13px;
                padding-bottom: 8px;
            }
        }
        &__cross {
            &__cross-icon {
                font-size: 13px;
                padding-bottom: 8px;
            }
        }
    }

    .typeahead-container {
        border-bottom:white;
        top: 25px;
        width: 90%;
    }
    
    .typeahead-item {
        font-size: .6rem;
        height: 20px;
        padding-left: 10px;
        padding-top: 2px;
    }
} 

@media only screen and (max-width: 992px) and (min-width: 601px) {
    .search-bar{
        height: 35px;
        width: 90%;

        &__input {
            font-size: 1rem;
            padding-bottom: 8px;
        }

        &__submit {
            &__search-icon {
                font-size: 13px;
                padding-bottom: 8px;
            }
        }
        &__cross {
            &__cross-icon {
                font-size: 13px;
                padding-bottom: 8px;
            }
        }
    }

    .typeahead-container {
        border-bottom:white;
        top: 25px;
        width: 90%;
    }
    
    .typeahead-item {
        font-size: .6rem;
        height: 20px;
        padding-left: 10px;
        padding-top: 2px;
    }
}

@media only screen and (max-width: 600px) and  (min-width: 400px) {
    .search-bar{
        height: 35px;
        width: 90%;
        &__input {
            font-size: .8rem;
            padding-bottom: 8px;
        }
        &__submit {
            &__search-icon {
                font-size: 10px;
                padding-bottom: 15px;
            }
        }
        &__cross {
            &__cross-icon {
                font-size: 10px;
                padding-bottom: 15px;
            }
        }
    }

    .typeahead-container {
        border-bottom:white;
        top: 25px;
        width: 90%;
    }
    
    .typeahead-item {
        font-size: .6rem;
        height: 20px;
        padding-left: 10px;
        padding-top: 2px;
    }
}

@media only screen and (max-width: 399px) {
    .search-bar{
        height: 25px;
        width: 90%;

        &__input {
            font-size: .6rem;
        }

        &__submit {
            &__search-icon {
                font-size: 10px;
                padding-bottom: 10px;
            }
        }
        &__cross {
            height: 27px;
            &__cross-icon {
                font-size: 10px;
                padding-bottom: 10px;
            }
        }
    }

    .typeahead-container {
        border-bottom:white;
        top: 25px;
        width: 90%;
    }
    
    .typeahead-item {
        font-size: .6rem;
        height: 20px;
        padding-left: 10px;
        padding-top: 2px;
    }
}