


.socialProspectus_viewCardContainer {
   min-width: 100%;
   justify-content: center;
}

.socialProspectus__buttonContainer {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    gap: 12px;
}