.faq-section-container {
    padding-top: 1rem;
}

.faqCard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e7eaed;
    border-radius: 0;
}

.accordion .faqCard {
    margin-bottom: .75rem;
    box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
    border-radius: .25rem;
}
.accordion .faqCard .faqCard-header {
    background-color: transparent;
    border: none;
    padding: 2rem;
}
.grid-margin {
    margin-bottom: 0.625rem;
}
.accordion .faqCard .faqCard-header a[aria-expanded="true"]:before {
    content: "\F374";
}
.accordion .faqCard .faqCard-header a:before {
    font-family: "Material Design Icons";
    position: absolute;
    right: 7px;
    top: 0;
    font-size: 18px;
    display: block;
}
.accordion .faqCard .faqCard-header a[aria-expanded="false"]:before {
    content: "\F415";
}


@media only screen and (min-width: 1200px) {
    /* Styles for extra-large screens (desktops) */
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 601px) and (max-width: 767px) {}

@media only screen and (min-width: 400px) and (max-width: 600px) {}

@media only screen and (max-width: 399px) {}